.gif {
  position: relative;
  /* height: ; */
  /* display: block; */
}

.gif-buttons {
  position: absolute;
  top: 0.5em;
  right: 0.5;
  z-index: 2;
}

.gif-link {
  color: #222;
  display: block;
  text-decoration: none;
  /* position: absolute; */
  width: min-content;
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  box-shadow: 0 0 3px 2px rgb(255, 255, 255, 0.4);
  width: 320px;
}
.gif-link img {
  /* border: 2px solid white; */
  max-width: -webkit-fill-available;
}

.gif h3 {
  position: absolute;
  font-size: 0.8em;
  color: #222;
  min-width: fit-content;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}
