.gf-fav {
  position: relative;
  background: rgba(255, 0, 0, 0.7);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: -280px;
  top: 5px;
  min-width: min-content;
  transition: all 0.3s ease;
}

.gf-fav:hover {
  background: rgba(232, 18, 57);
  transform: scale(1.1);
  backdrop-filter: 5px;
}

.gf-fav span {
  display: block;
  width: 20px;
}
